<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EpiBot</title>
    <link rel="shortcut icon" href="../assets/DODO-Full.png" type="image/x-icon">
    <link rel="stylesheet" href="start.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <div class="container">
        <nav class="nav"> 
            <i class='bx bx-menu-alt-left menu'></i>
            <p class="title">Epibot</p>
        </nav>
        <div class="bot-image">
            <img src="../assets\DODO-Body.png" alt="DODO Picture" class="dodo-body">
            <img src="../assets\DODO-Glass.png" class="dodo-glass">
        </div>

        <div class="footer">
            <div class="bottom">
                <a href="upload.html">
                    <button class="bottom-btn">
                        <img class="start-icon" src="../assets/send.png" alt="starticon">
                        Start!
                    </button>
                </a>
            </div>
        </div>

    </div>
    
</body>
</html>
