*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: "inter",sans-serif;
    text-decoration: none;
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
}

:root {
    --bg-color:#FFF2F2;
    --main-color: #2D336B;
    --text-color: #7886C7;
    --sectext-color: #A9B5DF;
}

body {
    background: var(--bg-color);
}

.nav{
    display: flex; 
    height: 65px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color:var(--bg-color);
    z-index: 100;
}

.menu{
    margin:10px 0 0 10px;
    width:100px;
    height: 100px;
    font-size: 50px;
    color: var(--main-color);
}

.title{
    margin: 10px 0 0 -20px;
    font-weight: bold;
    font-size: 40px;
    color: var(--main-color);
} 

.bot-profile{
    margin: 150px 0 0 200px;
}

.down{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    border-radius: 28px;
    background:var(--text-color);
    bottom: 10px;
    position: fixed;
    width: 500px;
    transition: background 0.25s;
}

.down:focus-within{
    background: var(--sectext-color);
}

.chat-box {
    background-color: #7886C7;
    width: auto;
    height: auto;
}

.upload-icon{
    font-size: xx-large;
}

.text-box{
    font-size: 16px;
    color: #2D336B;
    margin-left: 10px;
    outline: none;
    border: none;
    background: transparent;
    
}

.text-box::-ms-clear,
.text-box::-ms-reveal,
.text-box::-webkit-search-cancel-button {
    display: none;
    appearance: none;
}

.text-box::placeholder,
.upload-icon,
.start-icon{
    color: #2D336B;
}

.chat-box {
        height: 97vh;
        margin-top: 75px;
        background-color:var(--bg-color);
}

.send {
    border: none;
    background: transparent;
    position: relative;
    right: 4px;
    padding: 20px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.camera{
  border: none;
  background:transparent;
  position: relative;
  left: 4px;
  padding: 20px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.chat {
    height: 85vh;
    overflow-y: scroll;
    padding: 10px;
    border-radius: 5px;
    background:var(--bg-color);

  }
  
  .message {
    display: flex;
    align-items: center;
    margin: 10px 0;
    align-items: flex-end;
  }
  
  .user {
    justify-content: flex-end;
  }
  
  .avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 0 10px;
  }
  
  .user .avatar {
    order: 2;
    background: url("../assets/user.png");
    background-size: cover;
  }
  
  .bot .avatar {
    order: 0;
    background: url("../assets/bot-profile.png");
    background-size: cover;
   
  }
  
  .text {
    max-width: 70%;
    padding: 10px;
    font-size: 15px;
    font-weight: 800;
    color:var(--main-color);
  }

  .typing-text {
    font-size: 16px;
    font-weight: bold;
    color: #2D336B;
    white-space: pre-wrap;
    overflow: hidden;
}


@keyframes typing {
    from { width: 0; }
    to { width: 100%; }
}

@keyframes blink {
    50% { border-color: transparent; }
}

  
  .user .text {
    background: linear-gradient(to bottom, #C4D9FF, #C5BAFF);
    border-radius: 10px 10px 0 10px;
  }
  
  .bot .text {
    background: linear-gradient(to bottom, #C4D9FF, #C5BAFF);
    border-radius: 10px 10px 10px 0;
  }

  .footer {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  /* Modal Styles */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0); 
  backdrop-filter: blur(5px);
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: var(--bg-color);
  padding: 50px;
  border-radius: 15px;
  text-align: center;
  width: 100%;
  gap: 20px;
  max-width: 300px;
  display: flex;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.action-btn {
  background: var(--sectext-color);
  color:var(--main-color);
  padding: 20px;
  width: 200px;  
  height: 100px;
  margin: 50px 0;
  border: none;
  border-radius: 20px;
  font-size: 16px;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.action-btn:hover {
  background: var(--sectext-color);
  transform: scale(1.1);
  box-shadow: 0 0 20px var(--text-color);
}

.close {
  background: none;
  border: none;
  font-size: 30px;
  float: right;
  cursor: pointer;
  color: var(--main-color);
  display: flex;
  flex-direction: column;
  margin:-40px 0 0 -30px ;
}

body.modal-open {
  overflow: hidden;
}

.camera-icon{
  font-size: xx-large;
}

.upload{
  font-size: xx-large;
}

#display-image{
  background-size: cover;
  background-position: center;
} 
